.core-values .circle {
    min-width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-right: 25px;
    border: 3px solid var(--accent-primary);
    background: rgba(var(--accent-primary-rgb), .5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    color: var(--light);
    box-shadow: var(--box-shadow);
        line-height: 1;
}

.core-values .circle.smaller {
    min-width: 25px;
    height: 25px;
}

@media only screen and (max-width: 991px) {
    .core-values .circle {
        min-width: 50px;
        height: 45px;
        padding-top: 5px;
        font-size: 1.5rem;
    }
}

/* .core-values p {
    color: #585555;
} */
