.col-lg-6.col-image-about:before {
    content: "";
    background: var(--accent-primary);
    position: absolute;
    height: 100%;
    width: 52%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.columns img {
    transition:all 0.25s ease-in-out;
}

.columns img:hover {
    transform:scale(1.1);
}