.btn-main,
.btn-main a,
.wp-block-file__button {
    background: var(--accent-primary);
    padding: 10px 10px !important;
    font-size: 14px;
    transition: all .25s ease-in-out !important;
	box-shadow:none !important;
    display: inline-block;
    text-decoration: none;
    color: var(--accent-secondary)!important;
    text-shadow:none;
    border-radius: 45px;
    border:1px solid var(--accent-secondary);
    margin: 10px 0px;
    cursor:pointer;
    font-weight: 700;
}

.btn-main:hover,
.wp-block-file__button:hover {
    background: var(--accent-secondary);
    border-color:white;
    color:white !important;
    text-decoration: none;
}

.bg-accent .btn-main {
    background: var(--accent-secondary);
    color: white !important;
    border-color:white;
}

.bg-accent .btn-main:hover {
    background: white !important;
    color: var(--accent-secondary) !important;
    border-color:var(--accent-secondary);
}

.bg-accent .text-link {
    box-shadow:inset 0 -5px 0 0 white;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-weight:700;
}
.bg-accent .text-link:hover {
    box-shadow:inset 0 -55px 0 0 white;
    color:black;
}

.btn-main.white, .btn-main.white a {
    background: white;
    /* color: var(--accent-primary)!important; */
    border:1px solid black;
}

.btn-main.white:hover {
	background: var(--accent-primary);
    color: white !important;
    border-color: var(--accent-primary);
    text-decoration: none;
}

.btn-main.outline {
    border: 1px solid var(--accent-secondary);
    color:var(--accent-secondary) !important;
    background:transparent;
}

.btn-main.outline:hover {
    background: var(--accent-secondary);
    color:white !important;
}
.btn-main.outline.accent {
    border-color: var(--accent-primary);
    color:var(--accent-primary);
    background:transparent;
}

.btn-main.outline.accent:hover {
    background: var(--accent-secondary);
    color:white;
}
.btn-main.outline.white {
    border-color: white;
    color:white;
    background:transparent;
}

.btn-main.outline.white:hover {
    background: white;
    color:black;
}




/* .btn-pulse {
    position: relative;
    z-index: 0;
    overflow: visible;
} */

/* .btn-pulse::before,
.btn-pulse::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 265%;
    background: rgba(var(--accent-secondary-rgb), 0.5);
    border-radius: 8px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    z-index: -1;
} */

/* .btn-pulse::before {
    animation: pulse1 2s infinite;
}

.btn-pulse::after {
    animation: pulse2 2s infinite 0.6s;
}

@keyframes pulse1 {
    0% {
        width: 90%;
        height: 265%;
        opacity: 1;
    }
    100% {
        width: 95%;
        height: 295%;
        opacity: 0;
    }
}

@keyframes pulse2 {
    0% {
        width: 90%;
        height: 265%;
        opacity: 1;
    }
    100% {
        width: 95%;
        height: 295%;
        opacity: 0;
    }
} */